alias ll='ls -G -l'
alias la='ls -G -la'

alias ta='tmux attach -d -t'
alias tma='tmux a'

alias vim='nvim'
alias vims='nvim -S Session.vim'

alias gitch='git checkout '
alias gitp='git pull'

alias dotenv='export $(cat .env | xargs)'

alias k='kubectl'

alias d='docker'
alias dc="docker-compose"
alias drmi="docker rmi \$(docker images | grep \"<none>\" | awk '{print \$3}')"
alias drm="docker rm \$(docker ps -a|grep Exited| awk '{print \$1}')" 
alias dps='docker ps --format "table {{.ID}} {{.Status}} {{.Names}}"'

alias mysql='docker run -it --rm -w=/workspace -v $(pwd):/workspace mysql:5.7 bash'

alias gtoken="gcloud auth print-identity-token | tr -d '\n' |pbcopy"

alias gc='gcloud'

alias vscode="/Applications/Visual\ Studio\ Code.app/contents/Resources/app/bin/code"
alias code="/Applications/Visual\ Studio\ Code.app/contents/Resources/app/bin/code"
